<li id="<%= feed_item.id %>">
  <%= link_to gravatar_for(feed_item.user), feed_item.user %>
  <span class="user">
    <%= link_to feed_item.user.name, feed_item.user %>
  </span>
  <span class="content"><%= wrap(feed_item.content) %></span>
  <span class="timestamp">
    Опубликовано <%= time_ago_in_words(feed_item.created_at) %> назад.
  </span>
  <%= form_for(feed_item) do |f| %>
    <%= render 'shared/delete_micropost', object: f.object %>
  <% end %>
 </li>
